@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo .";
    height: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    position: sticky;
    top: 0;
}

footer {
    height: 50px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "home impressum privacy terms disclaimer";
}

main {
    max-width: 380px;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    margin: 0;
    padding: 0;
}

.logo {
    grid-area: logo;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "swissfy swissfy . ."
        ". kiidle kiidle kiidle";
        padding: 10px;
}

.logo .swissfy {
    grid-area: swissfy;
    font-size: 0.75rem;
}

.logo .kiidle {
    grid-area: kiidle;
    font-size: 0.5rem;
}

footer .home {
    grid-area: home;
}

footer .impressum {
    grid-area: impressum;
}

footer .privacy {
    grid-area: privacy;
}

footer .terms {
    grid-area: terms;
}

footer .disclaimer {
    grid-area: disclaimer;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-red {
    color: red;
}

.text-yellow {
    color: #FF9900
}

.text-green {
    color: #00B749
}

.text-blue {
    color: #004CBC;
}

.text-gray {
    color: #898989
}

.text-bold {
    font-weight: bold;
}

.mt-1 {
    margin-top: 4px;
}

.mt-2 {
    margin-top: 8px;
}

.ml-3 {
    margin-left: 12px;
}

.icon {
    height: 25px;
    width: 25px;
}

.card {
    margin: 50px 0;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 25px;
    border-radius: 5px;
}

.card .section {
    margin: 25px 0;
}

.card h1 {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h2 {
    font-size: 1rem;
}

@media screen and (min-width: 430px) {
    main {
        margin: auto;
    }
}
