{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <title>{% translate 'Anmelden' %}</title>
    </head>
    <body>
        {% include 'components/headers/header.html' %}
        <main>
            <div class="card">
                <h1 class="title">{% translate 'Anmelden' %}</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="gridify-icon-input">
                        <div class="icon-container">
                            <div class="icon filter-gray">
                                <img src="{% static 'svgs/tag-text.svg' %}" height="100%"/>
                            </div>
                        </div>
                        <div class="input-container">
                            <input type="text" name="username" placeholder="{% translate 'Benutzername' %}" required>
                            {% if form.errors.username %}
                                <div class="error">
                                    <p class="error">{{ form.errors.username }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="gridify-icon-input">
                        <div class="icon-container">
                            <div class="icon filter-gray">
                                <img src="{% static 'svgs/key-variant.svg' %}" height="100%"/>
                            </div>
                        </div>
                        <div class="input-container">
                            <input type="password" name="password" placeholder="{% translate 'Passwort' %}">
                            {% if form.errors.password %}
                                <div class="error">
                                    <p class="error">{{ form.errors.password }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <button class="bg-light-gray" type="submit">{% translate "Anmelden" %}</button>
                </form>
                <p class="mt-4">
                    {% translate 'Kein Konto?' %}
                    <a href="{% url 'signup' %}">{% translate 'Registrieren' %}</a>
                </p>
            </div>
        </main>
        {% include 'components/footers/footer-legal.html' with page="home" %}
    </body>
</html>
