{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <title>{% translate 'Datenschutzerklärung' %}</title>
    </head>
    <body>
        {% include 'components/headers/header.html' %}
        <main>
            <div class="card">
                <h1 class="title">{% translate 'Datenschutzerklärung' %}</h1>
                <div class="section">
                    <h2 class="text-gray">{% translate '1. Verantwortliche Stelle' %}</h2>
                    <p class="text-gray">{% translate 'Jonas S. Büchi' %}</p>
                    <p class="text-gray">{% translate 'Bern, Schweiz' %}</p>
                    <p class="text-gray">{% translate 'contact@kiidle.com' %}</p>
                </div>
                <div class="section">
                    <h2 class="text-gray">{% translate '2. Zweck der Datenverarbeitung' %}</h2>
                    <p class="text-gray">
                        {% blocktrans %}
                            Dieses Projekt ist rein freizeitliches Vorhaben, das ausschliesslich der
                            Weiterbildung und Wissensvermittlung dient. Die Nutzung der Webapplikation
                            setzt voraus, dass die Verarbeitung personenbezogener Daten im Rahmen der
                            Verwaltung durch mich akzeptiert wird. Nutzer, die dieser Regelung nicht
                            zustimmen möchten, sind eingeladen, die Plattform nicht weiter zu verwenden.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="section">
                    <h2 class="text-gray">{% translate '3. Erhobene Daten' %}</h2>
                    <p class="text-gray">
                        {% blocktrans %}
                            Beim unserer Webapplikation werden automatisch Informationen durch den
                            Webserver in sogenannten Log-Dateien gespeichert. Diese beinhalten die
                            IP-Adresse, den Browsertyp, das Betriebssystem, die Refferrer-URL,
                            potenziell teile des Browserverlaufs, sowie das Datum und die Uhrzeit des
                            Zugriffs. Diese Daten werden nicht weigergegeben.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="section">
                    <h2 class="text-gray">{% translate '4. Rechtsgrundlage' %}</h2>
                    <p class="text-gray">
                        {% blocktrans %}
                            Die Verarbeitung der genannten Daten erfolgt gemäss Art. 6 Abs 1 lit. f
                            DSGVO, wobei unser berechtigtes Interesse darin besteht, eine funktionsfähige
                            und benutzerfreundliche Webapplikation zu betreiben.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="section">
                    <h2 class="text-gray">{% translate '5. Dauer der Speicherung' %}</h2>
                    <p class="text-gray">
                        {% blocktrans %}
                            Personenbezogene Daten werden nur so lange gespeichert, wie dies für die
                            Erreichung der hier genannten Zwecken erforderlich ist, jedoch nach einer
                            Deaktivierung des Kontos, maximal für eine Dauer von 10 Jahre.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="section">
                    <h2 class="text-gray">{% translate '6. Weitergabe an Dritte' %}</h2>
                    <p class="text-gray">
                        {% blocktrans %}
                            Es erfolgt keine Weitergabe personenbezogener Daten an Dritter.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="section">
                    <h2 class="text-gray">{% translate '7. Rechte der betroffenen Personen' %}</h2>
                    <p class="text-gray">
                        {% blocktrans %}
                            Sie haben das Recht, Auskunft über die von uns verarbeiteten personenbezogenen
                            Daten erhalten, sowie die Berichtigung, Löschung oder Einschränkung der
                            Verarbeitung zu verlangen. Zudem können Sie der Verarbeitung Ihrer
                            personenbezogenen Daten widersprechen. Bitte wenden Sie sich dazu an die oben
                            angegebene Kontaktadresse.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="section">
                    <h2 class="text-gray">{% translate '8. Änderung der Datenschutzerklärung' %}</h2>
                    <p class="text-gray">
                        {% blocktrans %}
                            Wir behalten uns vor, diese Datenschutzerklärung zu ändern, um sie an aktuelle
                            rechtliche Anforderungen oder Änderungen unserer Leistungen anzupassen. Die
                            jeweils aktuelle Fassung ist jederzeit auf dieser Webapplikation abrufbar.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </main>
        {% include 'components/footers/footer-legal.html' with page="privacy" %}
    </body>
</html>
