{% load static %}
{% load i18n %}
<header>
    <div class="logo">
        <div class="swissfy text-bold">
            <p>SwissFY</p>
        </div>
        <div class="kiidle">
            <p>
                <span class="text-blue text-bold">K</span>
                <span class="text-red text-bold">i</span>
                <span class="text-yellow text-bold">i</span>
                <span class="text-blue text-bold">d</span>
                <span class="text-green text-bold">l</span>
                <span class="text-red text-bold">e</span>
            </p>
        </div>
    </div>
</header>
