{% load static %}
{% load i18n %}
<footer>
    <a href="{% url 'home' %}" class="home d-flex justify-center align-center">
        <div class="icon">
            {% if page == 'home' %}
            <img src="{% static 'svgs/home.svg' %}" height="100%"/>
            {% else %}
            <img src="{% static 'svgs/home-outline.svg' %}" height="100%"/>
            {% endif %}
        </div>
    </a>
    <a href="{% url 'impressum' %}" class="impressum d-flex justify-center align-center">
        <div class="icon">
            {% if page == 'impressum' %}
            <img src="{% static 'svgs/information.svg' %}" height="100%"/>
            {% else %}
            <img src="{% static 'svgs/information-outline.svg' %}" height="100%"/>
            {% endif %}
        </div>
    </a>
    <a href="{% url 'privacy' %}" class="privacy d-flex justify-center align-center">
        <div class="icon">
            {% if page == 'privacy' %}
            <img src="{% static 'svgs/shield-lock.svg' %}" height="100%"/>
            {% else %}
            <img src="{% static 'svgs/shield-lock-outline.svg' %}" height="100%"/>
            {% endif %}
        </div>
    </a>
    <a href="{% url 'terms' %}" class="terms d-flex justify-center align-center">
        <div class="icon">
            {% if page == 'terms' %}
            <img src="{% static 'svgs/file-document.svg' %}" height="100%"/>
            {% else %}
            <img src="{% static 'svgs/file-document-outline.svg' %}" height="100%"/>
            {% endif %}
        </div>
    </a>
    <a href="{% url 'disclaimer' %}" class="disclaimer d-flex justify-center align-center">
        <div class="icon">
            {% if page == 'disclaimer' %}
            <img src="{% static 'svgs/clipboard-text.svg' %}" height="100%"/>
            {% else %}
            <img src="{% static 'svgs/clipboard-text-outline.svg' %}" height="100%"/>
            {% endif %}
        </div>
    </a>
</footer>
